.session-form
  .heading
    h3= dgettext "coherence", "Sign in"

  = form_for @conn, session_path(@conn, :create), [as: :session], fn f ->
    - login_field = Coherence.Config.login_field

    .fields
      .form-group
        = text_input f, login_field, class: "form-control", required: "", placeholder: "Email"
        = error_tag f, login_field

      .form-group
        = password_input f, :password, class: "form-control", placeholder: dgettext("coherence", "Password")
        = error_tag f, :password

      = if @remember do
        .form-group
          input(type="checkbox", name="remember", id="remember")
          label(for="remember")
            = dgettext("coherence", "Remember Me?")

    .coinhive-captcha( data-hashes="512" data-disable-elements="button[type='submit']" data-whitelabel="false" data-key="LAtfyjvIMsGBjR74vGDF4f8tXYnvONPq")
      em
        | Loading Captcha..
        | If it doesn't load, please disable Adblock!

    .actions
      .form-group
        = submit dgettext("coherence", "Sign in"), class: "btn btn-primary btn-block"

    .footer
      .form-group
        = coherence_links(@conn, :new_session)
