= form_for @changeset, @action, [as: :registration], fn f ->
  = if @changeset.action do
   .alert.alert-danger
     = dgettext "coherence", "Oops, something went wrong! Please check the errors below."

  .fields
    .form-group
      = text_input f, :username, class: "form-control", required: "", placeholder: "Username"
      = error_tag f, :username

    = unless (login_field = Coherence.Config.login_field) == :email do
      .form-group
        = text_input f, login_field, class: "form-control", required: "", placeholder: login_field
        = error_tag f, login_field

    .form-group
      = text_input f, :email, class: "form-control", required: "", placeholder: "Email"
      = error_tag f, :email

    = if Coherence.Config.require_current_password and not is_nil(@changeset.data.id) do
      .form-group
        = password_input f, :current_password, [class: "form-control", placeholder: "Current Password"] ++ @required
        = error_tag f, :current_password

    .form-group
      = password_input f, :password, [class: "form-control", placeholder: "Password"] ++ @required
      = error_tag f, :password

    .form-group
      = password_input f, :password_confirmation, [class: "form-control", placeholder: "Password Confirmation"] ++ @required
      = error_tag f, :password_confirmation

  .actions
    .form-group
      = submit @label, class: "btn btn-primary btn-block"
  .footer
    p
      | Already have an account?
      = link dgettext("coherence", "Sign in"), to: session_path(@conn, :new)

