.panel {
  margin-bottom: 20px;
  background-color: #868fa5;
  border: 1px solid transparent;
  border-radius: 4px;
}

.panel-body {
  padding: 15px;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.panel-default {
  background-color: #868fa5;
}
