.panel {
  margin-bottom: 20px;
  background-color: #303542;
  border: 1px solid transparent;
  border-radius: 4px;
}

.panel-body {
  padding: 15px;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: inherit;
}

.panel-default {
  border-color: #222732;
}

.panel-default > .panel-heading {
  background-color: #222732;
}

.panel-primary {
  border-color: #34495e;
}

.panel-primary > .panel-heading {
  background-color: #34495e;
}
