$background-color: #272A33;
$text-color: #FFFFFF;
$font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;

$black: #222222;

$alert-success: #2ECC71;
$alert-danger: #C0392B;
$orange-bar: #E67E22;
$blue-bar: #2980B9;

$wet-splash: #34495E;

$pad: 8px;
