table.table.table-striped
  thead
    tr
      td Match Name
      td Game
      td Status
      td Actions

  tbody
    = for match <- @matches do
      tr
        td= match.title
        td= match.game_name
        td= match.status
        td
          = link "Show", to: match_path(@conn, :show, match), class: "btn btn-xs btn-primary"
          = if @current_user.admin do
            = link "Edit", to: match_path(@conn, :edit, match), class: "btn btn-xs btn-warning"

= if @current_user.admin do
  = link(to: match_path(@conn, :new), class: "btn btn-primary") do
    span Create a Match
